.mui-container {
  margin-bottom: 2em;
}

.m-top-0 {
  margin-top: 0;
}
.m-bottom-0 {
  margin-bottom: 0;
}

table, th, td {
  border: 1px solid rgb(211, 211, 211);
  border-collapse: collapse;
  min-width: 25px;
}

th, td {
  padding-left: 2px;
  padding-right: 2px;
}

table {
  background-color: rgb(238, 238, 238);
}

.cell-white {
  background-color: white;
}

.cell-green {
  background-color: rgb(175, 228, 175);
}

.cell-data {
  text-align: center;
}

.cell-data--bold {
  font-weight: bold;
}

.form-inputs {
  margin: 1em;
}
