<h1>Pick an account list</h1>
<ul>
  <% @account_lists.each do |account_list| %>
    <li><%= link_to account_list['attributes']['name'], stat_weekly_path(account_list['id'], env: params[:env]) %></li>
  <% end %>
</ul>
